$color_1: inherit;
$color_2: #edf2f7;
$color_3: rgba(237, 242, 247, var(--text-opacity));
$color_4: #e2e8f0;
$color_5: rgba(226, 232, 240, var(--text-opacity));
$color_6: #cbd5e0;
$color_7: rgba(203, 213, 224, var(--text-opacity));
$color_8: #a0aec0;
$color_9: rgba(160, 174, 192, var(--text-opacity));
$color_10: #718096;
$color_11: rgba(113, 128, 150, var(--text-opacity));
$color_12: #4a5568;
$color_13: rgba(74, 85, 104, var(--text-opacity));
$color_14: #1a202c;
$color_15: rgba(26, 32, 44, var(--text-opacity));
$color_16: #fff;
$color_17: rgba(255, 255, 255, var(--text-opacity));
$color_18: #6b7280;
$color_19: rgba(107, 114, 128, var(--tw-text-opacity));
$font-family_1: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
$font-family_2: 'Nunito', sans-serif;
$background-color_1: transparent;
$background-color_2: #fff;
$background-color_3: rgba(255, 255, 255, var(--bg-opacity));
$background-color_4: #f7fafc;
$background-color_5: rgba(247, 250, 252, var(--bg-opacity));
$background-color_6: #2d3748;
$background-color_7: rgba(45, 55, 72, var(--bg-opacity));
$background-color_8: #1a202c;
$background-color_9: rgba(26, 32, 44, var(--bg-opacity));
$border-color_1: #edf2f7;
$border-color_2: rgba(237, 242, 247, var(--border-opacity));
$border-color_3: #4a5568;
$border-color_4: rgba(74, 85, 104, var(--border-opacity));

/* Default css */
html {
    font-family: $font-family_1;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: $font-family_2;
    margin: 0;
}

[hidden] {
    display: none;
}

* {
    &:not(input) {
        box-sizing: border-box;
        border: 0 solid #e2e8f0;
    }
}

select {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}

:after {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}

:before {
    @extend :after;
}

a {
    color: $color_1;
    text-decoration: inherit;
    background-color: $background-color_1;
}

svg {
    display: block;
    vertical-align: middle;
}

video {
    display: block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

.bg-white {
    --bg-opacity: 1;
    background-color: $background-color_2;
}

.bg-gray-100 {
    --bg-opacity: 1;
    background-color: $background-color_4;
}

.border-gray-200 {
    --border-opacity: 1;
    border-color: $border-color_1;
}

.border-t {
    border-top-width: 1px;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.hidden {
    display: none;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.font-semibold {
    font-weight: 600;
}

.h-5 {
    height: 1.25rem;
}

.h-8 {
    height: 2rem;
}

.h-16 {
    height: 4rem;
}

.text-sm {
    font-size: .875rem;
}

.text-lg {
    font-size: 1.125rem;
}

.leading-7 {
    line-height: 1.75rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.ml-1 {
    margin-left: .25rem;
}

.mt-2 {
    margin-top: .5rem;
}

.mr-2 {
    margin-right: .5rem;
}

.ml-2 {
    margin-left: .5rem;
}

.mt-4 {
    margin-top: 1rem;
}

.ml-4 {
    margin-left: 1rem;
}

.mt-8 {
    margin-top: 2rem;
}

.ml-12 {
    margin-left: 3rem;
}

.-mt-px {
    margin-top: -1px;
}

.max-w-6xl {
    max-width: 72rem;
}

.min-h-screen {
    min-height: calc(100vh - 132px);
}

.overflow-hidden {
    overflow: hidden;
}

.p-6 {
    padding: 1.5rem;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.pt-8 {
    padding-top: 2rem;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.top-0 {
    top: 0;
}

.right-0 {
    right: 0;
}

.shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.text-center {
    text-align: center;
}

.text-gray-200 {
    --text-opacity: 1;
    color: $color_2;
}

.text-gray-300 {
    --text-opacity: 1;
    color: $color_4;
}

.text-gray-400 {
    --text-opacity: 1;
    color: $color_6;
}

.text-gray-500 {
    --text-opacity: 1;
    color: $color_8;
}

.text-gray-600 {
    --text-opacity: 1;
    color: $color_10;
}

.text-gray-700 {
    --text-opacity: 1;
    color: $color_12;
}

.text-gray-900 {
    --text-opacity: 1;
    color: $color_14;
}

.underline {
    text-decoration: underline;
}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.w-5 {
    width: 1.25rem;
}

.w-8 {
    width: 2rem;
}

.w-auto {
    width: auto;
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 640px) {
    .sm {
        &\:rounded-lg {
            border-radius: .5rem;
        }

        &\:block {
            display: block;
        }

        &\:items-center {
            align-items: center;
        }

        &\:justify-start {
            justify-content: flex-start;
        }

        &\:justify-between {
            justify-content: space-between;
        }

        &\:h-20 {
            height: 5rem;
        }

        &\:ml-0 {
            margin-left: 0;
        }

        &\:px-6 {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        &\:pt-0 {
            padding-top: 0;
        }

        &\:text-left {
            text-align: left;
        }

        &\:text-right {
            text-align: right;
        }
    }
}

@media (min-width: 768px) {
    .md {
        &\:border-t-0 {
            border-top-width: 0;
        }

        &\:border-l {
            border-left-width: 1px;
        }

        &\:grid-cols-2 {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
}

@media (min-width: 1024px) {
    .lg {
        &\:px-8 {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .dark {
        &\:bg-gray-800 {
            --bg-opacity: 1;
            background-color: $background-color_6;
        }

        &\:bg-gray-900 {
            --bg-opacity: 1;
            background-color: $background-color_8;
        }

        &\:border-gray-700 {
            --border-opacity: 1;
            border-color: $border-color_3;
        }

        &\:text-white {
            --text-opacity: 1;
            color: $color_16;
        }

        &\:text-gray-400 {
            --text-opacity: 1;
            color: $color_6;
        }

        &\:text-gray-500 {
            --tw-text-opacity: 1;
            color: $color_18;
        }
    }
}
